body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.background {
    background: #ebebeb;
    text-align: center;
    padding: 25px;
    margin: 5px;
}

.sec1 {
    width: 495px;
    height: 250px;
    background: #ebebeb;
    text-align: center;
    margin: 5px;
    position: absolute;
}

#asideinfo {
    background: #ebebeb;
    float: right;
    width: 425px;
    margin: 5px;
    padding: 50px;
    text-align: center;
}

#art1 {
    position: relative;
    background: #777;
    color: #ebebeb;
    text-align: center;
    padding: 30px;
    width: 300px;
}

#heading {
    background: #ebebeb;
    position: relative;
    width: 200px;
    padding: 20px;
}

#textpara {
    background: #ebebeb;
    position: relative;
    width: 200px;
    padding: 20px;
}

.clearfix::after {
    clear: both;
}